<ion-header>

  <ion-navbar color="primary">
    <ion-title color="light">My Portfolio</ion-title>
    <ion-buttons end
      color="light">
      <button ion-button
        icon-only
        (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button
        icon-only
        (click)="onLogOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span>Total portfolio</span>
            <p class="total">{{ total?.total | number:'1.0-0' }}{{ moneyValue | symbol }}</p>
          </ion-col>
          <ion-col>
            <span>Profit</span>
            <p class="profit">{{ total?.profit | number:'1.0-0' }}{{ moneyValue | symbol }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      My operations
    </ion-card-header>
    <ion-list>
      <ion-item-sliding *ngFor="let operation of user?.operations; let i = index">
        <ion-item>
          <h2 float-start>{{ operation.currency.name }}</h2>
          <div class="end">
            <p *ngIf="coinsValue[i]">
              {{ operation.amount * coinsValue[i].price | number:'1.0-0' }}{{ moneyValue | symbol }}
            </p>
            <p *ngIf="coinsValue[i]">
              ({{ coinsValue[i].price | number:'1.1-4' }}{{ moneyValue | symbol }})
            </p>
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button
            color="primary"
            (click)="onEditOperation(operation)">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button
            color="danger"
            (click)="onDeleteOperation(operation)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <ion-fab right
    bottom>
    <button ion-fab
      mini
      (click)="goToNewOperation()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
