page-portfolio {
  .card-header {
    border-bottom: .55px solid #c8c7cc
  }

  .card-content {
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    p {
      &.total {
        font-size: 24px;
      }

      &.profit {
        font-size: 20px;
      }
    }
  }
  .col-end{
    display: flex;
    justify-content: flex-end;
  }
}
