<ion-header>

  <ion-navbar color="primary">
    <ion-title color="light">My Portfolio</ion-title>
    <ion-buttons end
      color="light">
      <button ion-button
        icon-only
        (click)="goToNewOperation()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span>Total portfolio</span>
            <p class="total">{{ total?.total | number:'1.0-0' }}$</p>
          </ion-col>
          <ion-col>
            <span>Profit</span>
            <p class="profit">{{ total?.profit | number:'1.0-0' }}$</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      My operations
    </ion-card-header>
    <ion-list>
      <ion-item-sliding *ngFor="let operation of user.operations; let i = index">
        <ion-item>
          <h2 float-start>{{ operation.currency.name }}</h2>
          <p float-end
            *ngIf="coinsValue[i]">
            {{ operation.amount * coinsValue[i].priceUSD | number:'1.0-0' }}$
          </p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button
            color="primary">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
          <button ion-button
            color="danger"
            (click)="onDeleteOperation(operation)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

</ion-content>
