page-portfolio {
  .card-header {
    font-size: 22px;
  }

  .card-content {
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    p {
      &.total {
        font-size: 24px;
      }

      &.profit {
        font-size: 20px;
      }
    }
  }

  .list {
    .label  {
      display: flex;
    }

    h2 {
      flex: 1 1 50%;
    }

    .end {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  .col-end{
    display: flex;
    justify-content: flex-end;
  }
}
